#Monday, #Tuesday, #Wednesday, #Thursday, #Friday {
    width: 18%;
    height: 200px;
    float: left;
    border: 1px solid black;
    padding: 2px;
    font-family: sans-serif;
    font-size: 12px;
}
.Sunny {
    background-color: skyblue;
}
.Raining {
    background-color: lightgrey;
}
.Cloudy {
    background-color: #eee;
}
.Thunderstorm {
    background-color: #333;
    color: #fff;
}
#orderForm {
    width: 75%;
    margin: 20px auto;
}
#result {
    background-color: #bad1a0;
    color: rgb(0, 13, 13);
    padding: 6px;
    border: 6px dashed indigo;
}
#numGlasses{
    background-color: #bdd6f8;
    border: 3px dotted rgb(0, 0, 10);
}
#OpenTheStand{
    background-color: aquamarine;
}
#glassPrice{
     background-color: #c9f796;
}