#Monday,
#Tuesday,
#Wednesday,
#Thursday,
#Friday {
    width: 18%;
    height: 200px;
    float: left;
    border: 1px solid black;
    padding: 2px;
    font-family: sans-serif;
    font-size: 12px;
}

.Sunny {
    background-color: rgb(164, 218, 239);
}

.Raining {
    background-color: rgb(237, 226, 226);
}

.Cloudy {
    background-color: #eee;
}

.Thunderstorm {
    background-color: #222222;
    color: #fff;/* text  */
}

