body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#orderForm {
    background-color: hsl(124, 63%, 75%);
    border: 4px solid rgb(202, 7, 7);
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    box-shadow: 10px 10px 5px #060000;
}

#placeOrder{
    background-color: rgb(226, 43, 141);
}